__pycache__/
.DS_Store
gcn_utils.py
simulator.py

# ignore unused data files
data/*

# re-add directories under data/
!data/fed_witness_splits/
!data/seeds/
!data/train.pt
!data/test.pt
!data/val.pt
!data/y_sums.csv